* {
	padding: 0;
	margin: 0;
	list-style: none;
}

body{
	margin: 1% 1% 1% 2%;
	padding: 0;
	font-size: 75%;
	background: #F2F2F2;
	line-height: 140%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

a{
	color: #202020;
	text-decoration: underline;
}

a:hover{
	color: #666666;
	text-decoration: none;
}

div.FGSideLeft{
	width: 57%;
	float: left;
	margin-right: 1.3em;
	background: #FFFFFF;
	color: inherit;
}

div.FGSideMiddle{
	width: 20%;
	float: left;
	margin-right: 1.3em;
	background: #F1F1F1;
	color: inherit;
}

div.FGSideRight{
	width: 18%;
	float: left;
	background: #F1F1F1;
	color: inherit;
}

div.col{
	padding: .5em;
	border: solid 1px #CCCCCC;
}

h1{
	padding: 1.5em 1em;
	font-size: 1em;
	color: #333333;
	border:1pt solid silver;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #E6E6E6;
}

h1 a{
	text-decoration: none;
}

h1 span{
	font-size: 2.2em;
	color: #CC0000;
	font-family: "Century Gothic", sans-serif;
}
h1 sup{
	font-size: .8em;
	color: #FF6600;
	font-family: "Century Gothic", sans-serif;
}
h2,h3{
	font-size: 1.2em;
	padding: 1em .5em .5em;
	color: #2A2A2A;
}
.article h3{
	font-size: 1.0em;
	padding: 0em .5em .5em;
	color: #3333FF;
	font-weight:normal;
}
p{
	padding: .5em;
}

#logo{
	background: url(../images/fly.jpg) no-repeat 50% 50%;
	width: 100%;
	height: 13em;
	margin-bottom: .5em;
}

#logo h2{
	font-size: 1.8em;
	color: #FFF;
	padding: .5em;
}

ul#FGNav,ul#FGArticles{
	margin-bottom: .5em;
}
.odd{background:#E8F8FF;border:1pt dashed silver;margin:3px}
ul#FGNav li a{
	line-height: 1.8em;
	padding: 0 1em;
	background: #E4E4E4;
	display: block;
	border-bottom: solid 1px #FFFFFF;
	color: #CC0000;
	text-decoration: none;
}

ul#FGNav li a:hover{
	background: #FFFFFF;
	color: #333333;
}

ul#FGArticles li a{
	line-height: 1.8em;
	border-bottom: solid 1px #CCCCCC;
	padding: 0 .5em;
	display: block;
	text-decoration: none;
}

address{
	background: #EEEEEE;
	margin-top: .5em;
	text-align: center;
	padding: 1em 0;
}

/*\*/	
.fix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/**/

h4{
	padding: 1em;
}

pre{
	padding: 1em;
	border: solid 1px #CCCCCC;
	margin: 0 1em;
}

* html ul#FGNav li a, html ul#FGArticles li a{
	height: 1%;
}

.hMargin{
	margin-left:1em;margin-right:1em;
}
.vMargin{
	margin-top:1em;margin-bottom:1em;
}
.cBoth{clear:both;}
.fLeft{float:left}
.fRight{float:right}

.medium{width:120px}
.small{width:85px}

.tRight{text-align:right}
.tLeft{text-align:left}
.tCenter{text-align:center}
/* Result Header */
input.search{
	color: #333;
	border: 1px solid #4692CC;
	font-size:15px;
	padding:6px;
	width:250px;
}
div.comment{
	padding:5px;
	margin:5px 8px;
}
div.board{
	background: url(../images/ring.gif) no-repeat;
	background-position:5px 6px;
	padding:5px 25px;
	line-height:150%;
	margin:3px;
	font-size:14px;
}
div.topic{
	background:#FFFFCC;
	border:1pt solid gray;
	padding:5px;
	margin:3px;
	font-size:14px;
}
input.submit { 
	background: #F1F1F1 url(../images/idx_btnbg.gif) center repeat-x; 
	border: 1px solid gray; 
	height: 31px; 
	color: #333333;
	font: normal 1.2em Verdana, Arial, Helvetica, sans-serif;
}
.ad{
	border: solid 1px #CCCCCC;
	height:60px;
	margin:3px 0;
	padding:5px;
}
.sa_rd{width: 345px; margin: 5px 0 0 5px; color: #555;}
div.page{
	clear:both;
	padding:5px;
	margin:6px 3px;
	text-align:right;
	border:1pt solid #CCCCCC;
	background:#FFFFCC;
}
div.pages{
	clear:both;
	padding:5px;
	margin:6px 3px;
	text-align:right;
	border:1pt solid #CCCCCC;
	background:#FFFFCC;
	font:normal 1.2em Tahoma,宋体,Verdana, Arial, Helvetica, sans-serif;
}
div.pages a{
	text-decoration: none;
}
div.pages a:hover{
	text-decoration: none;
}